@page "/Compare"
@using CloudPrice.Data
@using CloudPrice.Services
@using CloudPrice.IServices
@using AntDesign;
@using AntDesign.TableModels;

<h1>Compare</h1>
@*<Table @ref="table"
       TItem=""
       DataSource="@data"
       Total="_total"
       OnChange="onChange"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       @bind-SelectedRows="selectedRows">

    <Selection Key="@(context.Id.ToString())" />
    <Column @bind-Field="@context.provider" Sortable />
    <Column @bind-Field="@context.instancename" Sortable />
    <Column @bind-Field="@context.region" Sortable />
    <Column @bind-Field="@context.unit" Sortable />
    <Column @bind-Field="@context.cost" Sortable />
</Table>*@

@code {

}
