@page "/Historic"
@using CloudPrice.Data
@using CloudPrice.IServices
@using MongoDB.Bson;

@inject IPricesService PricesService

<h3>Historic</h3>
<fieldset>

    <label for="Skuname">Skuname :</label>
    <select name="Skuname">
        @foreach (var skuname in Skuname)
        {
            <option value="@skuname">@skuname</option>
        }
    </select>

    <label for="region">Region :</label>
    <select name="region">
        @foreach (var region in Regions)
        {
            <option value="@region">@region</option>
        }
    </select>

</fieldset>
<button class="btn btn-primary" @onclick="@(async () => { GetHistoric(); })">Search</button>
@if (show == true)
{<Line Data="data" Config="lineConfig"></Line>}

@code {
    string provider_input = "";
    string skuname_input = "";
    int ram_input = 0;
    int cpu_input = 0;
    string region_input = "";
    int disk_input = 0;
    int maxdiskavailable_input = 0;
    bool show = false;
    List<Prices> data = new();
    List<string> Regions = new();
    List<string> Skuname = new();

    LineConfig lineConfig = new LineConfig()
    {
        Title = new AntDesign.Charts.Title()
        {
            Visible = true,
            Text = "Title"
        },
        Description = new Description()
        {
            Visible = true,
            Text = "description"
        },
        Padding = "auto",
        ForceFit = true,
        XField = "effectivedate",
        YField = "priceperunit",
        Smooth = true
    };

    protected override async Task OnInitializedAsync()
    {
        Regions = PricesService.GetRegions();
        Skuname = PricesService.GetSkuname();
    }

    protected void GetHistoric()
    {
        show = true;
        data = PricesService.GetHistoric(skuname_input,region_input);
    }
}
